{% load static %}
<header class="section-header">

    <nav class="navbar navbar-expand-lg navbar-light container py-4">
        <div class="col-lg-2 col-md-3 col-6">
            <a href="/" class="brand-wrap">
                <img class="logo" src='{% static "./images/logo.png" %}'>
            </a> <!-- brand-wrap.// -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent"
            style="color: black imo !important;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'store' %}"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Store</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i> Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item btn btn-primary" href="{% url 'store' %}">All Products</a>
                        {% for category in links %}
                        <a class="dropdown-item" href="{{ category.get_url }}">{{category.category_name}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-link">
                    <a href="{% url 'cart' %}"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart<span
                            class="cart-count-c">({{cart_count}})</span></a>
                </li>
                {% if user.id is None %}
                <li class="nav-link">
                    <a href="{% url 'register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>
                        Register</a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </li>
                {% else %}
                <li class="nav-link">
                    <a href="{% url 'dashboard' %}"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>




    <div class="container container-lg container-sm container-md container-xl container-xxl">
        <div class="m-1 nav-search-c">
            <a href="{% url 'store' %}" class="inline btn btn-outline-primary" style="display: inline-block;"><i
                    class="fa fa-shopping-cart" aria-hidden="true"></i>
                Store</a>
            <form action="{% url 'search' %}" class="search" method="GET">
                <div class="input-group w-100">
                    <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword"
                        required value='{{keyword}}'>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="cart-parent-c">
        <a href="{% url 'cart' %}">
            <a href="{% url 'cart' %}">
                <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i>
                </div>
            </a>
            <span class="badge badge-pill badge-danger notify ">{{cart_count}}</span>
        </a>
    </div>

</header>